extends layout
block content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Red bicicletas
        button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Mapa
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') Bicicletas
            
    // Masthead
    header.masthead.bg-primary.text-white.text-center
      .container.d-flex.align-items-center.flex-column
        // Masthead Avatar Image
        img.masthead-avatar.mb-5(src='images/avataaars.svg' alt='')
        // Masthead Heading
        h1.masthead-heading.text-uppercase.mb-0 Red bicicletas
        // Icon Divider
        .divider-custom.divider-light
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-star
          .divider-custom-line
        // Masthead Subheading
        p.masthead-subheading.font-weight-light.mb-0 Contiene bicicletas y API de bicicletas
    // Portfolio Section
    section#portfolio.page-section.portfolio
      .container
        // Portfolio Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Mapa
        // Icon Divider
        .divider-custom
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-star
          .divider-custom-line
        // Portfolio Grid Items
        .row
          // Portfolio Item 6
          .col-md-12
            #map(style='height: 300px;')
    // About Section
    section#about.page-section.bg-primary.text-white.mb-0
      .container
        // About Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-white Bicicletas
        // Icon Divider
        .divider-custom.divider-light
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-star
          .divider-custom-line
        // About Section Content
        .row
          .col-12
            p.lead
              | Te invito a revisar la url /bicicletas para ver las bicicletas          
            ul.lead
              p
                | También hay un api de bicicletas con los siguientes métodos: 
              li
                p
                  |  GET: "/api/v1/bicicletas" (Ver el listado de bicicletas)
              li 
                p
                  |  GET: "/api/v1/bicicletas/:id" (Consulta una bicicleta específica)
              li
                p
                  |  POST: "/api/v1/bicicletas" (en el body especificar un objeto bicicleta para agregar una bicicleta)
              li
                p
                  |  PUT: "/api/v1/bicicletas" (en el body especificar un objeto bicicleta para actualizar una bicicleta)
              li
                p
                  |  DELETE: "/api/v1/bicicletas/:id" (Eliminar bicicleta)
        // About Section Button
        .text-center.mt-4
          a.btn.btn-xl.btn-outline-light(href='/bicicletas')
            i.fas.fa-clipboard-list.mr-2
            |          Ver bicicletas
    