extends ../layout

block content
    // Contact Section
    section#about.page-section
      .container
        // Contact Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Editar Bicicleta
        // Icon Divider
        .divider-custom
          .divider-custom-line
          .divider-custom-icon
            i.fas.fa-star
          .divider-custom-line
        // Contact Section Form
        .row
          .col-lg-8.mx-auto
            form#contactForm(action='/bicicletas/'+bici.id+'/editar' method='post')
              .control-group
                .form-group.floating-label-form-group.controls.mb-0.pb-2
                  label(for='id') Id
                  input#name.form-control(type='number' value=bici.id name='id' placeholder='Id de la bicicleta' required='required' data-validation-required-message='Id obligatorio')
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls.mb-0.pb-2
                  label(for='color') Color
                  input#name.form-control(type='text' value=bici.color name='color' placeholder='Color de la bicicleta' required='required' data-validation-required-message='Color obligatorio')
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls.mb-0.pb-2
                  label(for='modelo') Modelo
                  input#name.form-control(type='text' name='modelo' value=bici.modelo placeholder='Modelo de la bicicleta' required='required' data-validation-required-message='Modelo obligatorio')
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls.mb-0.pb-2
                  label(for='latitud') Latitud
                  input#name.form-control(type='text' name='latitud' value=bici.ubicacion[0] placeholder='Latitud de la bicicleta' required='required' data-validation-required-message='Latitud obligatorio')
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls.mb-0.pb-2
                  label(for='longitud') Longitud
                  input#name.form-control(type='text' name='longitud' value=bici.ubicacion[1] placeholder='Longitud de la bicicleta' required='required' data-validation-required-message='Longitud obligatorio')
                  p.help-block.text-danger
              br
              #success
              .form-group
                .row
                  .col-12(style="display: flex; flex-direction: row; justify-content: space-between")
                    button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Guardar
                    a(href='/bicicletas')
                        button.btn.btn-primary.btn-xl Volver